.navbar {
  .container {
    display: grid;
    grid-template-columns: 100px 1fr 500px;
    align-items: center;
    .navbar_logo {
      height: 100px;
      width: 100px;
    }

    .navbar_image {
      position: relative;

      .div_navbar_image {
        width: 100px;
        height: 100px;
      }
      .navbar_img_background {
        background-color: $blue;
        z-index: -1;
        height: 150px;
        width: 150px;
        left: -30px;
        top: -40px;
        border-radius: 50%;
        position: absolute;
      }
    }

    .navbar_hamburger {
      display: none;
    }
    .navbar_title {
      color: $blue;
      padding-left: 40px;
      font-size: 40px;
    }
    .navbar_hamburger {
      margin-right: 20px;
    }
    .navbar_menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $blue;
      height: 50px;
      padding-left: 20px;
      border-radius: 50px 0 0 50px;

      .profile_image {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid $white;
      }

      span {
        display: block;
        width: 1px;
        height: 30px;
        background-color: white;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        background: none;
        color: $white;
        border: none;
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .navbar {
    .container {
      grid-template-columns: 100px 1fr 100px;
      position: relative;

      .navbar_hamburger {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        z-index: 3;
        width: 30px;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        height: 30px;

        span {
          display: block;
          width: 100%;
          height: 4px;
          background-color: $blue;
          color: $blue;
        }
      }

      .navbar_menu {
        top: 0;
        right: 0;
        position: absolute;
        flex-direction: column;
        width: 0;
        height: 100vh;
        transition: 0.2s all ease-out;
        align-items: center;
        z-index: 2;
        justify-content: center;
        padding: 0;
        overflow: hidden;

        span {
          transform: rotate(90deg);
          height: 100px;
          padding: 0;
        }
        button {
          margin: 15px 0;
          font-size: 24px;
        }

        &.open {
          display: flex;
          justify-self: center;
          transition: 0.2s all ease-out;
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .navbar {
    .container {
      padding-top: 10px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar_title {
        font-size: 24px;
        padding-left: 0;
      }

      .navbar_image {
        position: relative;

        .div_navbar_image {
          width: 50px;
          height: 50px;
        }

        .navbar_img_background {
          background-color: $blue;
          z-index: -1;
          height: 80px;
          width: 80px;
          left: -20px;
          top: -20px;
          border-radius: 50%;
          position: absolute;
        }
      }
    }
  }
}
