.topic-choice {
  background-color: $blue;
  min-height: 100vh;
  width: 100vw;
  margin: 0;

  .topic-choice-top {
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    max-width: 1400px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: $blue;
    z-index: 3;

    h2 {
      color: $white;
    }

    .close_quiz {
      height: 40px;
      width: 40px;
      background-color: $red;
      color: white;
      border: none;
      border-radius: 5px;
    }
    .start {
      background-color: $green;
      color: $white;
      display: inline-block;
      height: 40px;
      margin-right: 20px;
    }
  }

  .topics-list {
    padding-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .topic-list-item {
      text-align: center;
      background-color: $white;
      display: block;
      box-sizing: border-box;
      width: 47%;
      margin: 20px 0;
      min-height: 100px;
      height: auto;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        padding-right: 20px;
      }
    }
  }
}

@media (max-width: 1430px) {
  .topic-choice {
    .topic-choice-top {
      .start {
      }
      .close_quiz {
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 700px) {
  .topic-choice {
    .topic-choice-top {
      h2 {
        font-size: 1.2em;
      }
    }
    .topics-list {
      padding-top: 80px;
      .topic-list-item {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .topic-choice {
    .topic-choice-top {
      box-sizing: border-box;
      width: 100vw;
      margin-left: -20px;
      padding-top: 0;
      display: flex;
      flex-direction: column;

      .close_quiz {
        margin-right: 0;
      }
    }

    .topics-list {
      padding-top: 100px;
    }
  }
}
