.quiz_hero {
  margin-top: 50px;
  display: flex;
  min-height: 400px;
  background-color: #f4f4f4;
  border-radius: 5px;

  .quiz_hero_signup {
    background: $blue;
    color: $white;
    border: none;
    padding: 10px 30px;
    margin-left: 20px;
    display: inline-block;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .quiz_hero_buttons {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('/road.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 'cover';
    background-blend-mode: lighten;

    a {
      text-decoration: none;
    }

    button {
      padding: 20px 40px;
      width: 300px;
      border: none;
      color: $white;

      &:nth-child(1) {
        background-color: $blue;
      }
      &:nth-child(2) {
        background-color: $red;
      }
      &:nth-child(3) {
        background-color: #06690d;
      }
    }
  }

  .quiz_hero_description {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 24px;
      text-align: center;
      line-height: 1.5;
      padding: 10px;
      span {
        &.true {
          color: green;
        }

        &.false {
          color: $red;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .quiz_hero {
    margin-top: 0px;
    grid-template-columns: 1fr;
    flex-direction: column;
    padding: 0;
    width: 100vw;

    .quiz_hero_buttons {
      padding: 0;
      height: 900px;
      flex: 1;
      justify-content: space-evenly;

      button {
        margin: 20px 0;
      }
    }

    .quiz_hero_description {
      height: auto;
      padding: 0 0 20px 0;
      p {
        font-size: 18px;
      }
    }
  }
}
