.score {
  height: 95vh;
  margin-top: -3vh;
  color: white;
  position: relative;
  width: 100%;
  max-width: 1400px;
  overflow-x: hidden;
  overflow-y: hidden;

  .score_top {
    box-sizing: border-box;
    padding: 30px 10px 0 10px;
    position: fixed;
    max-width: inherit;
    width: inherit;
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      display: inline;
    }

    .close_quiz {
      height: 40px;
      width: 40px;
      background-color: $red;
      color: white;
      border: none;
      border-radius: 5px;
    }
  }

  .separator {
    display: block;
    width: 100%;
    height: 130px;
  }

  .score_nav {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
    div {
      margin-right: 70px;
      display: inline;
      cursor: pointer;
      transition: 0.1s all ease-out;
      border-bottom: 0px;
      font-size: 1.2rem;
      border-bottom: 3px solid transparent;
      &.active {
        border-bottom: 3px solid white;
      }
    }
  }
  .wrong_answer_container {
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 100%;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;

    .wrong_answer {
      box-sizing: border-box;
      padding: 20px;
      margin: 10px;
      width: calc(50% - 20px);
      min-width: 400px;
      border: 1px solid $white;
      display: grid;

      &.image {
        grid-template-columns: 200px 1fr;
      }

      .wrong_answer_image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;

        img {
          width: 150px;
          height: auto;
        }
      }

      .wrong_answer_content {
        p {
          line-height: 1.5;
        }
        .open_theory {
          height: 40px;
          width: auto;
          float: right;
          cursor: pointer;
        }
        div {
          margin-top: 40px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          p {
            margin: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .score {
    .wrong_answer_container {
      .wrong_answer {
        width: 100%;
        min-width: 0;
        margin: 20px 0;

        &.image {
          grid-template-columns: 150px 1fr;
        }

        .open_theory {
          margin-top: 10px;
        }
        .wrong_answer_image {
          img {
            width: 100px;
            height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .score {
    .score_top {
      padding-top: 10px;
      font-size: 1rem;
      p {
        display: none;
      }
    }

    .separator {
      height: 100px;
    }

    .score_nav {
      box-sizing: border-box;
      padding-left: 0;
      width: 100%;
      display: flex;
      margin-bottom: 0;
      padding-bottom: 10px;
      justify-content: space-between;
      align-items: center;
      div {
        font-size: 0.9rem;
        margin: 0;
        margin: 0 20px;
        text-align: center;
        padding-bottom: 3px;
      }
    }
    .wrong_answer_container {
      height: 80%;
      .wrong_answer {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
