.score {
  display: grid;
  grid-template-areas: 'Top Top' 'WAContent WAContent';
  position: relative;
  background-color: $blue;
  color: $white;

  .score_top {
    grid-area: Top;
    h1 {
      margin: 10px;
      color: $white;
    }
    a {
      button {
        position: absolute;
        right: 0px;
        top: 0;
        margin: 10px;
        height: 40px;
        width: 40px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
      }
    }
  }

  .wrong_answer_container {
    grid-area: WAContent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 800px;
    overflow-y: scroll;

    .wrong_answer {
      background-color: #ececec;
      border-radius: 5px;
      margin: 10px;
      color: black;
      padding: 10px;
      display: grid;
      grid-template-columns: 150px 1fr;

      .wrong_answer_image {
        text-align: center;

        img {
          padding-top: 10px;
          height: 70px;
          width: 70px;
        }
      }

      .wrong_answer_content {
        div {
          margin-top: 10px;
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .score {
    .wrong_answer_container {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 750px) {
  .score {
    .wrong_answer_container {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 530px) {
  .score {
    padding-top: 120px;
    position: relative;
    padding-bottom: 100px;

    .score_top {
      position: fixed;
      z-index: 4;
      background-color: $blue;
      height: 70px;
      width: 100vw;
      top: 0;
      left: 0;
      h1 {
        grid-area: Title;
        margin: 10px;
        color: $white;
        position: fixed;
        top: 5px;
      }
      a {
        button {
          top: 5px;
          position: fixed;
          right: 0px;
          grid-area: Close;
          margin: 10px;
          height: 40px;
          width: 40px;
          background-color: red;
          color: white;
          border: none;
          border-radius: 5px;
        }
      }
    }

    .wrong_answer_container {
      padding-top: 90px;
      .sc-dlfnbm {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        padding-bottom: 80px;
        min-height: 400px;

        .sc-bdfBwQ {
          position: absolute;
          right: 50%;
          transform: translateX(50%);
          bottom: 0;
        }
        .wrong_answer {
          padding: 10px;
          height: auto;
          border: 1px solid black;
          margin: 0;

          .wrong_answer_top {
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 'Image Content' 'Theory Theory';
            width: 100%;

            .wrong_answer_image {
              grid-area: 'Image';
              height: auto;
              width: 150px;
              img {
                height: auto;
                width: 150px;
              }
            }
            .wrong_answer_content {
              grid-area: 'Content';
              width: 50%;
              height: 50%;
            }
            .wrong_answer_theory {
              grid-area: 'Theory';
            }
          }
        }
      }
    }
  }
}
