.social {
  padding: 20px;

  h2 {
    color: $blue;
    font-size: 1.7rem;
    display: block;
    margin-bottom: 80px;
  }

  .social_container {
    position: relative;
    .social_bar {
      height: 50px;
      border-radius: 40px;
      position: absolute;

      a {
        padding: 10px;
      }

      img {
        height: 30px;
        width: 30px;
      }
      &.red {
        width: calc(50% - 260px);
        background-color: $red;
        top: 0px;
      }
      &.blue1 {
        bottom: 0;
        width: calc(50% - 200px);
        background-color: $blue;
        display: flex;
        justify-content: flex-end;
      }
      &.blue2 {
        top: 0;
        right: 0;
        width: calc(50% - 160px);
        background-color: $blue;
        display: flex;
        justify-content: flex-start;
      }
      &.green {
        bottom: 0;
        right: 0;
        width: calc(50% - 220px);
        background-color: $green;
        display: flex;
        justify-content: flex-start;
      }
    }
    .social_content {
      max-width: 420px;
      margin: 0 auto;
      font-size: 30px;
      font-weight: bold;

      .colored {
        color: $blue;
      }

      div {
        &:nth-child(2) {
          margin-left: 30px;
        }
        &:nth-child(3) {
          margin-left: 60px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .social {
    h2 {
      margin-bottom: 20px;
    }
    .social_container {
      .social_bar {
        height: 30px;

        a {
          padding: 5px;
        }
        img {
          height: 20px;
          width: 20px;
        }
        &.red {
          width: calc(50% - 170px);
        }

        &.blue1 {
          width: calc(50% - 130px);
        }
        &.blue2 {
          width: calc(50% - 100px);
        }
        &.green {
          width: calc(50% - 150px);
        }
      }
      .social_content {
        max-width: 300px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .social {
    .social_container {
      .social_bar {
        &.red {
          width: calc(50% - 150px);
        }

        &.green {
          width: calc(50% - 120px);
        }
      }
      .social_content {
        max-width: 270px;
        div {
          &:nth-child(2) {
            margin-left: 10px;
          }
          &:nth-child(3) {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
