/*
  COLORS
*/
$blue: #00408b;
$dark-blue: #011328;
$white: #f4f4f4;
$red: #9d0606;
$green: #06690d;
$yellow: #b35600;
$sim-green: #cfe6d6;

/*
  FOOTER
*/
.footer {
  color: white;
  margin: 0;
  padding: 40px 0 20px 0;
  background-color: $blue;

  .container-full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }

    .footer_contact {
      width: 250px;
      display: flex;
      justify-content: space-around;
    }
  }
}
