// // COLORS
$blue: #00408b;
$dark-blue: #011328;
$white: #f4f4f4;
$red: #9d0606;
$green: #06690d;
$yellow: #b35600;
$sim-green: #cfe6d6;

.quiz-sim {
  background-color: $sim-green;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

  .score {
    color: black;
    background-color: $sim-green;

    .score_top {
      background-color: $sim-green;
    }
  }

  .wrong_answer {
    .wrong_answer_content {
      .open_theory {
        fill: red;
      }
    }
  }
  .quiz-sim_container {
    max-width: 1400px;
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    .quiz-sim_nav {
      width: 100%;

      .quiz-sim_bigger {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        div {
          cursor: pointer;
          text-align: center;
          width: 24%;
          padding: 10px 0;
          background-color: white;

          &.active {
            color: red;
          }
        }
      }

      .quiz-sim_small {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        div {
          cursor: pointer;
          background-color: white;
          width: 9%;
          text-align: center;
          padding: 10px 0;

          display: none;

          &.display {
            display: block;
          }

          &.active {
            color: red;
          }
        }
      }

      .quiz-sim_smaller {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        div {
          cursor: pointer;
          background-color: white;
          width: 2.2%;
          text-align: center;
          &.active {
            color: red;
          }
        }
      }
    }

    .quiz-sim_box {
      display: none;

      &.active {
        display: grid;
        grid-template-areas: 'Image Question' 'Image Answers';
        width: calc(100% - 20px);
        height: 40%;
        grid-template-columns: 30% 70%;
        grid-template-rows: 70% 30%;
        gap: 20px;

        .quiz-sim_box_image {
          grid-area: Image;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 50%;
            width: auto;
            max-width: 90%;
          }
        }
        .quiz-sim_box_question {
          position: relative;
          background-color: white;
          grid-area: Question;

          .quiz-sim_box_question_num {
            position: absolute;
            top: 10px;
            right: 50px;
          }
          .quiz-sim_box_question_question {
            box-sizing: border-box;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 30px 30px 30px 20px;

            height: 100%;
          }
        }
        .quiz-sim_box_answers {
          background-color: white;
          grid-area: Answers;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 70px;
            width: auto;
            padding: 20px;
            cursor: pointer;
          }
        }
      }
    }

    .quiz-sim_bottom {
      display: grid;
      margin-top: 40px;
      width: calc(100% - 20px);
      grid-template-columns: 30% 70%;
      gap: 20px;
      .quiz-sim_timer {
        background-color: white;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 10px;
        font-weight: bold;
      }

      .quiz-sim_bottom_right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .quiz-sim_summary {
        }
        .quiz-sim_prev {
          margin-right: 20px;
          img {
            box-shadow: 2px 2px 10px rgb(156, 156, 156);
            border-radius: 50%;
            cursor: pointer;
            height: 60px;
            width: auto;
            margin: 0 10px;

            &:nth-child(2) {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    .quiz-sim_correct {
      cursor: pointer;
      display: block;
      width: 200px;
      float: right;
      margin-top: 10px;
      text-align: center;
      padding: 20px 0;
      color: white;
      background-color: grey;
    }
  }
}

@media (max-width: 970px) {
  .quiz-sim {
    .quiz-sim_container {
      .quiz-sim_nav {
        .quiz-sim_smaller {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 749px) {
  .quiz-sim {
    .quiz-sim_container {
      .quiz-sim_nav {
        .quiz-sim_smaller {
          display: none;
        }
        .quiz-sim_small {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .quiz-sim {
    height: 100vh;
    padding-top: env(safe-area-inset-top, 12px);
    padding-right: env(safe-area-inset-right, 12px);
    padding-bottom: env(safe-area-inset-bottom, 12px);
    padding-left: env(safe-area-inset-left, 12px);
    .quiz-sim_container {
      .quiz-sim_nav {
        .quiz-sim_bigger {
          display: none;
        }
      }
      .quiz-sim_box {
        &.active {
          margin: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .quiz-sim_box_image {
            img {
              padding: 20px;
              height: 130px;
              width: auto;
            }
          }

          .quiz-sim_box_question {
            margin-top: -20px;
            min-height: 200px;
            max-height: 200px;
            padding: 5px;
            overflow: scroll;
          }
          .quiz-sim_box_answers {
            margin-top: -20px;

            img {
              padding-top: 0;
              padding-bottom: 5px;
            }
          }
        }
      }

      .quiz-sim_bottom {
        margin-top: 240px;
        display: flex;
        height: 60px;

        .quiz-sim_timer {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            display: none;
          }
        }

        .quiz-sim_bottom_right {
          .quiz-sim_prev {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          }
        }
      }
      .quiz-sim_bottom_bottom {
        a {
          display: none;
        }

        div {
          float: none;
          padding: 10px;
        }
      }
    }
  }
}
