// /*
//   COLORS
// */
$blue: #00408b;
$dark-blue: #011328;
$white: #f4f4f4;
$red: #9d0606;
$green: #06690d;
$yellow: #b35600;
$sim-green: #cfe6d6;

// /*
//   SCORE
// */

.score {
  height: 100vh;
  width: 100vw;
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .score_content {
    max-width: 1400px;
    width: 95vw;

    .score_top {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .score_top_left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 10px;
          p {
            margin: 0 10px;
          }
        }
        .close_quiz {
          background-color: $red;
          color: white;
        }
      }
      .score_nav {
        margin-left: 20px;
        display: flex;
        align-items: center;

        div {
          margin-right: 30px;
          border-bottom: 3px solid transparent;
          cursor: pointer;

          &.active {
            border-bottom: 3px solid white;
          }
        }
      }
    }
    .wrong_answer_container {
      margin: 0;
      margin-left: 10px;
      overflow-y: scroll;
      height: calc(70vh);
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
      max-width: 100%;

      .wrong_answer {
        box-sizing: border-box;
        padding: 20px;
        margin: 10px;
        width: calc(50% - 20px);
        min-width: 400px;
        border: 1px solid $white;

        display: grid;
        grid-template-areas: 'WrongImage WrongContent' 'WrongBottom WrongBottom';
        padding-right: 20px;

        .wrong_answer_image {
          img {
            width: 150px;
            height: auto;
            grid-area: WrongImage;
          }

          .wrong_answer_content {
            grid-area: WrongContent;

            p {
              display: inline;
              line-height: 1.5;
            }
          }
        }

        .wrong_bottom {
          grid-area: WrongBottom;
          margin-top: 30px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          div {
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .open_theory {
            height: 40px;
            width: auto;
            margin: 0;
            cursor: pointer;
          }
        }

        .wrong_answer_content {
          padding-left: 20px;
          div {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
          }

          p {
            line-height: 1.5;
          }

          .wrong_bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .open_theory {
              height: 40px;
              width: auto;

              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .score_banner {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .score {
    height: 100vh;
    .score_top {
      p {
        display: none;
      }
    }
    .score_content {
      .wrong_answer_container {
        height: calc(85vh - 200px);
        margin: 0;
        .wrong_answer {
          display: flex;
          flex-direction: column;
          width: 100%;
          min-width: 0;
          justify-content: center;

          &.image {
            .wrong_answer_image {
              width: 100%;
              display: flex;
              justify-content: center;
            }
          }
          .wrong_bottom {
            margin-top: 0;
          }

          .wrong_answer_content {
            padding: 0;
            div {
              p {
                margin: 0;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}
