// // COLORS
$blue: #00408b;
$dark-blue: #011328;
$white: #f4f4f4;
$red: #9d0606;
$green: #06690d;
$yellow: #b35600;
$sim-green: #cfe6d6;

html,
body {
  background-color: white;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
