/*
  COLORS
*/
$blue: #00408b;
$dark-blue: #011328;
$white: #f4f4f4;
$red: #9d0606;
$green: #06690d;
$yellow: #b35600;
$sim-green: #cfe6d6;

/*
  NAVBAR
*/
.navbar {
  background-color: $dark-blue;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;

  .container-full {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar_hamburger {
      display: none;
    }

    .logo {
      h1 {
        font-size: 3rem;
      }
      img {
        height: 100px;
        width: auto;

        border-radius: 50%;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      padding-right: 20px;

      img {
        border-radius: 50%;
      }

      span {
        height: 35px;
        width: 1px;
        background-color: white;
        margin: 0 10px;
      }

      a {
        color: white;
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        font-size: 1.2rem;

        &.active {
          text-decoration: underline;
        }
        &.disabled {
          opacity: 0.5;
          cursor: auto;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .navbar {
    .container-full {
      .logo {
        h1 {
          font-size: 2.3rem;
        }
      }

      .menu {
        a {
          font-size: 1rem;
          margin: 5px;
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .navbar {
    .container-full {
      .logo {
        h1 {
          font-size: 1.8rem;
          margin-left: 10px;
        }
        img {
          height: 70px;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .navbar {
    .container-full {
      .logo {
        h1 {
          font-size: 2rem;
        }
      }
      .navbar_hamburger {
        margin-top: 5px;
        display: block;
        cursor: pointer;
        z-index: 2;
        padding-right: 20px;

        span {
          display: block;
          width: 30px;
          height: 3px;
          background-color: white;
          margin-bottom: 5px;
          border-radius: 20px;
          transition: 0.1s all ease-out;
        }

        &.open {
          transition: 0.1s all ease-out;
          span {
            &:nth-child(1) {
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              margin-top: -16px;
              transform: rotate(-45deg);
            }
          }
        }
      }

      .menu {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 0;
        padding: 50px 0;

        height: calc(100vh + 50px);
        overflow: hidden;
        position: absolute;
        background-color: $blue;

        right: 0;
        top: -7px;
        transition: 0.1s all ease-out;
        z-index: 1;

        a {
          font-size: 1.3rem;
          padding: 10px 40px;
        }
        span {
          height: 1px;
          width: 35px;
          margin: 10px;
        }

        &.open {
          transition: 0.1s all ease-out;
          height: 100vh;
          border-bottom: 1px solid white;
          width: 40vw;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .navbar {
    .container-full {
      .logo {
        h1 {
          font-size: 1.5rem;
        }
        img {
          height: 50px;
        }
      }
      .menu {
        top: -9px;
        &.open {
          width: 100vw;
        }
      }
    }
  }
}
