// /*
//   COLORS
// */
$blue: #00408b;
$dark-blue: #011328;
$white: #f4f4f4;
$red: #9d0606;
$green: #06690d;
$yellow: #b35600;
$sim-green: #cfe6d6;

/*
  QUIZ
*/

.quiz {
  min-height: 100.5vh;
  min-height: -webkit-fill-available;
  background-color: $blue;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .standard_quiz {
    width: 100vw;
    padding: 20px;

    //Report Button
    .quiz_problem {
      display: block;
    }

    .quiz_top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .close_btn {
        display: none;
      }
      .quiz_top_left {
        display: flex;
        align-items: center;

        .quiz_timer {
          width: 60px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.3rem;
          color: white;
        }

        .quiz_problem {
          display: flex;
          align-items: center;
          background-color: red;
          color: white;
          margin-left: 20px;

          p {
            display: none;
          }
        }
      }
    }
    // Quiz Content
    .quiz_content {
      display: none;
      &.active {
        display: block;
      }

      .quiz_question {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
      }
      &.image {
        .quiz_image {
          margin-top: 30px;
          height: 150px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 150px;
            width: auto;
            max-width: 95vw;
          }
        }

        .quiz_question {
          overflow-y: scroll;
          max-height: 30vh;
          height: 30vh;
          padding-top: 30px;
          margin-top: -20px;
          p {
            margin-top: 0;
          }
        }
      }

      &.no-image {
        .quiz_question {
          padding-top: 30px;
          overflow-y: scroll;
          max-height: calc(30vh + 160px);
          height: calc(30vh + 160px);
        }
      }

      .quiz_answer {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          margin: 0 10px;
        }
      }
    }

    .quiz_bottom {
      width: 100%;
      max-width: 1400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .quiz_nav_small {
        display: none;
        button {
          margin: 20px;
        }
      }

      .quiz_bottom_menu {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
    .quiz_nav_menu_item {
      display: none;
      border: none;
      cursor: pointer;
      padding: 15px;
      margin: 5px;
      border-radius: 50%;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

      &.visible {
        height: 20px;
        width: 20px;
        text-align: center;
        display: inline-block;
        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
      &.active {
        background-color: $white;
        color: $blue;
      }
    }
  }
}
.correct_popup {
  background-color: white;
  width: 90vw;
  max-height: 80vh;
  overflow: hidden;
  max-width: 600px;
  text-align: center;
  padding: 30px 0 40px 0;

  button {
    margin-top: 20px;
    color: white;
    background-color: $dark-blue;

    &:hover {
      background-color: $blue;
    }
  }

  .correct_back {
    cursor: pointer;
    color: $blue;
    text-decoration: underline;
  }
}

@media (min-width: 700px) {
  .quiz {
    min-height: 100vh;
    .standard_quiz {
      max-width: 1400px;
      overflow-y: hidden;

      .quiz_top {
        .close_btn {
          display: inline-block;
          background-color: $red;
          color: white;
          margin-left: 20px;
          text-decoration: none;
          a {
            text-decoration: none;
          }
        }
      }
      .quiz_content {
        &.image {
          .quiz_image {
            img {
              height: 200px;
            }
          }
        }

        .quiz_question {
          max-width: 800px;
          margin: 0 auto;
          overflow-y: hidden;
          p {
            font-size: 1.5rem;
          }

          &::-webkit-scrollbar {
            display: none;
          }

          /* Hide scrollbar for IE, Edge and Firefox */
          .example {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
          }
        }
        .quiz_answer {
          margin-bottom: 40px;
        }
      }
    }
  }
}
